<!DOCTYPE html>
<html>

<head>
    <style>
        {{styles}}
    </style>
</head>

<body>
    <div class="page">
        <div class="screen-container">
            <div class="chat">
                <div class="chat-container">
                    <div class="user-bar">
                        <div class="name">
                            <span class="name">{{contact.name}}</span>
                            <span class="status">{{contact.tel}}</span>
                        </div>
                    </div>
                    <div class="conversation">
                        <div class="conversation-container">
                            {{messages}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
